@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

.links {
  color: #ffffff;
  text-decoration: none;
}

.nav {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.05rem;
}

.nav::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menulink {
  text-decoration: none;
  color: black;
}

.navbar_color {
  background: rgba(255, 255, 255, 0.25) !important;
  backdrop-filter: blur(125px) !important;
}

/* .css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: rgb(126, 118, 118) !important;
  backdrop-filter: blur(125px) !important;
} */
